# Titanic Decision Tree Classifier

## Import

In [2]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier

## Load Data

In [4]:
trainDataSet = pd.read_csv('data/titanic/train.csv')
testDataSet = pd.read_csv('data/titanic/test.csv')

## Data Explore

In [6]:
print(trainDataSet.info())
print('-'*30)
print(trainDataSet.describe())
print('-'*30)
print(trainDataSet.describe(include=['O']))
print('-'*30)
print(trainDataSet.head())
print('-'*30)
print(trainDataSet.tail())
print('-'*30)
print(trainDataSet['Embarked'].value_counts())  # 确认'Embarked'这个feature有几个value，每个value用了几次

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
------------------------------
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
------------------------------
                                  Name   Sex Ticket    Cabin Embarked
count                              891   891    891      204      889
unique                             891     2    681      147        3
top     Hays, Miss. Margaret Bechstein  male   1601  B96 B98        S
freq                                 1   577      7        4      644
------------------------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
------------------------------
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
------------------------------
S    644
C    168
Q     77
Name: Embarked, dtype: int64

## Data Clean

In [8]:
# 使用平均年龄来填充年龄中的 nan 值
trainDataSet['Age'].fillna(trainDataSet['Age'].mean(), inplace=True)
testDataSet['Age'].fillna(testDataSet['Age'].mean(), inplace=True)

# 使用票价的均值填充票价中的 nan 值
trainDataSet['Fare'].fillna(trainDataSet['Fare'].mean(), inplace=True)
testDataSet['Fare'].fillna(testDataSet['Fare'].mean(), inplace=True)

# 使用登录最多的港口来填充登录港口的 nan 值
trainDataSet['Embarked'].fillna('S', inplace=True)
testDataSet['Embarked'].fillna('S', inplace=True)

## Feature Selection

In [9]:
featureList = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
X_train = trainDataSet[featureList]
y_train = trainDataSet['Survived']
X_test = testDataSet[featureList]
vectorTransformer = DictVectorizer(sparse=False)
X_train = vectorTransformer.fit_transform(X_train.to_dict(orient='record'))
X_test = vectorTransformer.transform(X_test.to_dict(orient='record'))

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

## Tree Construction and Train

In [10]:
id3DtClf = DecisionTreeClassifier(criterion='entropy')  # 构造ID3决策树
id3DtClf.fit(X_train, y_train)  # 训练决策树

DecisionTreeClassifier(criterion='entropy')

## Performance Evaluation and Prediction

In [19]:
acc_decision_tree = round(id3DtClf.score(X_train, y_train), 6)  # 得到决策树准确率
print('score accuracy rate is: ', acc_decision_tree)
y_test = id3DtClf.predict(X_test)  # 决策树预测
print('test label set is: ', y_test)

score accuracy rate is:  0.982043
test label set is:  [0 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1 0 0 0 1 0 1 0 0
 0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 0 0 1 0 0
 0 1 0 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 1 1 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0
 1 1 1 0 0 0 0 0 0 1 1 0 1 0 1 1 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 1 1 1 1 0 0 1 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 1 0 1 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0
 0 0 1 0 1 0 0 1 0 0 0]